.navbar-link{
margin: 20px 10px;
}

.menu {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 20)
}

.container {
justify-content:space-between;
display: flex;
flex-direction: row;
background-color: rgb(29, 29, 29);
}



.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}



h1{
    margin: 10px;
    color:whitesmoke;

}